

body{
   color:pink;
   font-family: "Qwitcher Grypen", cursive;
   background: black;

}
 header {
border: solid 2px white
margin: 0;
 }
  

header {
border-bottom: solid 2px rgb(153, 54, 219);

  padding: 20px;
  font-size: 32px;
  color:aqua
}
section{
  background:rgb(153, 54, 219);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.chamada-texto{
   margin-right: 5%;
}
